 body{
        background-color: #d5bdaf;
    }
    *{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    header{
        text-align: center;
        background-color: #e3d5ca;
    }
    header > div {
        padding: 10px;
    }
    .section-main{
        display: flex;
    }
    .section-main > aside {
        background-color: #e3d5ca;
        margin: 10px;
        border: solid 1px gray;
        border-radius: 10px;
        width: 200px;
        height: 30rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
    .section-main > section {
        background-color: #e3d5ca;
        margin: 10px;
        border: solid 1px gray;
        width: 70rem;
        height: 30rem;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
    aside > header{
        margin: 20px;
    }
    aside > section {
        height: 25rem;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    aside > section > div {
        margin: 8px 0;
    }
    input{
        padding: 8px;
        border: solid 1px gray;
        border-radius: 5px;
        background: none;
        outline: none;
    }
    ::placeholder{
        color: black;
    }
    .div-selecting-item{
        padding: 8px;
        border: solid 1px gray;
        border-radius: 5px;
        background: none;
        outline: none;
    }
    select{
        background: none;
        border: none;
        outline: none;
    }
    div > .button-1{
        outline: none;
        background: none;
        border: none;
        background-color: #b6a195;
        padding: 10px;
        border-radius: 5px;
    }
    div > .button-1:hover{
        cursor: pointer;
        background-color: #d5bdaf;
        transition-duration: 0.4s;
    }
    div > .button-1:active{
        background-color: #a7948a;
        transition-duration: 0.3s;
    }
    .foot-button{
        background: none; 
        outline: none; 
        border: none; 
        background-color: #a7948a;
        padding: 15px; 
        border-radius: 5px;
    }
    .foot-button:hover{
        transition-duration: 0.4s;
        background-color: #948e89;
        cursor: pointer;
    }