    *{
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      box-sizing: border-box;
    }

    body{
      background-color: #d5bdaf;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    section{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      width: 50rem;
      padding: 20px;
      background-color: #e3d5ca;
      border-radius: 8px;
    }

    header{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-bottom: 20px;
      font-size: 25px;
      font-weight: bold;
    }

    .return-btn {
      position: absolute;
      right: 0;
      padding: 7px 15px;
      background-color: #a7948a;
      color: black;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 15px;
      transition: 0.2s ease-in-out;
    }
    .return-btn:hover{
      background-color: #5a6268;
    }

    form{
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
    }

    label{
      width: 100%;
      font-size: 16px;
      margin-top: 10px;
    }

    input, select{
      width: 100%;
      padding: 8px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      outline: none;
    }

    .field-group{
      width: 45%;
      display: flex;
      flex-direction: column;
    }

    /* Bottom buttons */
    .actions {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    .btn {
      padding: 10px 20px;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.2s ease-in-out;
    }

    .history-btn {
      background-color: #a7948a;
      color: black;
    }
    .history-btn:hover {
      background-color: #5a6268;
    }

    .buy-btn {
      background-color: #a7948a;
      color: black;
    }
    .buy-btn:hover {
      background-color: #5a6268;
    }