  *{
    font-family: Arial;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: rgb(26, 94, 221);
  }
  header{
    background-color: rgb(166, 183, 240);
    padding: 30px 30px 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul{
    display: flex;
    gap: 50px;
  }
  li{
    list-style: none;
  }
  section{
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 24rem;
    display: flex;
    justify-content: center;
    background-color: rgb(166, 183, 240);
  }
  .main-div{
    width: 30rem;
    display: grid;
    grid-template-rows: 11rem 11rem;
    align-content: center;
  }
  .text{
    text-align: center;
  }
  .welcome{
    font-size: 40px;
    color: rgb(44, 43, 43);
    display: block;
  }
  .name{
    color: rgb(44, 43, 43);
    font-weight: bolder;
    font-size: 25px;
    display: block;
    padding-top: 30px;
  }
  .button{
    display: flex;
    justify-content: center;
    align-items:  center;
  }
  button{
    background-color: #C2FBD7;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 50px;
    padding: 0 25px;
    transition: all 200ms;
    color: rgb(44, 43, 43);
  }
  button:hover{
    color: black;
    background-color: #667f97;
    transform: scale(1.05);
  }
   footer{
    margin-top: 3px;
    height: 163px;
    background-color: rgb(166, 183, 240);
  }
    .main-footer-container{
    display: grid;
    grid-template-columns: 13rem 13rem 13rem;
    column-gap: 8rem;
    justify-content: center;
    height: 10rem;
  }
  .main-footer-container > div{
    text-align: center;
    padding-top: 15px;
  }
  .f-design{
    font-size: 13px;
    color: rgb(48, 47, 47);
    display: block;
    margin-bottom: 2px;
  }
  .fot{
    font-size: 20px;
  }
  a{
    color: rgb(48, 47, 47);
  }