 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  section{
    border: solid 1px black;
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input{
    padding: 5px;
    margin-bottom: 5px;
  }
  label{
    font-size: 17px;
  }